version: '3.8'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5500:5500"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    # Si tienes variables de entorno, descomenta y ajusta:
    # env_file:
    #   - .env.production